<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Basspro Validation - test suite">
    <test name="Regression">
         <classes>
             <class name="testCases.UserRegistrationTest"/>
             
          </classes>
     </test> <!-- Test -->    
     
</suite> <!-- Suite -->